#background-image {
    margin: 0; /* Remove default margin */
    height: 120vh; /* Full viewport height */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.video-circle {
    width: 140px;          /* Set width */
    height: 140px;         /* Set height */
    overflow: hidden;      /* Hide overflow */
    display: inline-block;  /* Centering */
}
video {
    width: 100%;           /* Full width of the container */
    height: auto;          /* Maintain aspect ratio */
}

#quantity{
    max-width: 25%;
    border-radius: 5px;
    border-color: yellow;
    margin-top: 5px;
}

#order-image{
    max-width: 50vh;
    max-height: 60vh;
}

#order-button{
    max-width: 25%;
    max-height: 30%;
}

#image-container {
    width: 150vh; /* Set desired width */
    height: 50vh; /* Set desired height */
    overflow: hidden; /* Hide overflow */
}

#image-container img {
    width: 100%; /* Scale image to fit the container */
    height: 100%; /* Scale image to fit the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
